*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freight big pro" ;
}
html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;

}
#main{
    background-color: black;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    /* display: none; */
}
#loader h1{
    font-size: 7vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
    position: relative;
    z-index: 9;
}
#loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}
#yellow1{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    z-index: 8;
}
#yellow2{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    z-index: 7;
}
#nav{
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 30px 50px;
}
#nav svg{
    height: 1.1rem;
}
#page1{
    height: 110vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
#page1 h1{
    font-size: 7vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.elem{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.elem:hover h2{
    font-style: italic;
}
.elem h2{
    font-size: 6.8vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5vw;
}
.elem .moving{
    background-color:#F5E41B;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%,-45%) scaleY(0);
    transition: all ease .6s;
    opacity: 0;
    overflow: hidden;
}
.elem:hover .moving{
    opacity: 1;
    transform: translate(0%,-45%) scaleY(1);
}
.elem .blur{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 8;
    background:linear-gradient(to right,#f5e31bf0,#F5E41B,#F5E31bf6);
    box-shadow: 10px 0px 20px 20px #F5E41B ,-10px 0px 20px 20px #F5E41B
}
.elem .moving .moving-in{
    display: inline-block;
    white-space: nowrap;
    animation: moving 5s infinite linear;
}

.elem .moving .moving-in h5{
color: #000;
display: inline-block;
font-size: 17px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-transform: uppercase;
margin-right: 30px;
font-weight: 500;
}
@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: white ;
}
.image-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    column-width: 150px;
}
.image-div{
    height: 40vh;
    width: 30vw;
    background-color: red;
    position: relative;
    overflow: hidden;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition:all ease .5s;
    
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #0000001a;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition:all ease .5s;
    z-index: 10;
}
.overlay p{
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 2.5vw;
    opacity: 0;
}
.image-div:hover img{
  scale: 1.1;
}
.image-div:hover .overlay{
   background-color: #000000f1;
   scale: 1;
}
.image-div:hover .overlay p{
  opacity: 1;
}
#footer{
    height: 40vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
#footer #foot{
    height: 50%;
    width: 100%;
    background-color: #000;
}
#footer h3{
    color: #000;
    font-size: large;
    cursor: pointer;
}