@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(Ai.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-family: "Roboto";
    
}

.container {
    padding: 40px;
    position: absolute;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    font-size: 35px;
    font-family: "Roboto";
}
p {
    color: orange;
    font-size: 17px;
    
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.btn:hover {
    background-color: #45a049;
}