@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --var-color-black:#000000;
    --var-color-white:#FFFFFF;
    --var-color-gray:#2c2b2b;
    --border-radius:.5rem;
}
*{
 margin: 0;
 padding: 0;
 font-family:"Roboto", serif;
 box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: var(--var-color-black);
    color: var(--var-color-white);
}


.loader-wrap {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    z-index:10;
  }
  
  .loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
    fill: #1a1a1a;
  }
  
  .loader-wrap .loader-wrap-heading .load-text {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 15px;
    text-transform: uppercase;
    z-index: 20;
  }
  
  .load-text span {
    -webkit-animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate;
  }
  
  .load-text span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .load-text span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .load-text span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .load-text span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .load-text span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .load-text span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  
  .load-text span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  @-webkit-keyframes loading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes loading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }




i{
    font-size: 25px;
}
.container{
    background-color: var(--var-color-black);
}
.left{
    color: var(--var-color-white);
    background-color: var(--var-color-black);
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
.home{
    padding: 10px;
}
.home img{
    width: 150px;
    filter: invert(1);
}
li{
    list-style: none;
}
.home ul li{
    display: flex;
    align-items: center;
    gap:15px;
    padding-top: 14px;
}
#search{
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%;
    border-radius: 1.5rem;
}
#search::placeholder{
    color: var(--var-color-gray);
    font-size: 1.05rem;
}
#search:focus{
    box-shadow: 0 0 8px white;
}
.library,.home{
    background-color: var(--var-color-gray);
    border-radius: var(--border-radius);
}
.heading{
    width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    padding: 14px;
    font-weight: bold;
    font-size: 13px;
}
.library{
    min-height: 80vh;
    position: relative;
}

.right{
    border-radius: var(--border-radius);
    background-color: var(--var-color-gray);
    margin: 16px 0;
    position: relative;
}
.header{
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}
.header > *{
    padding: 20px;
}


.hamburger{
    display: none;
    filter: invert(1);
    cursor: pointer;
}
.close{
    filter: invert(1);
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    display: none;
}

.spotifyPlaylist{
    padding: 16px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 80vh;
}
.card{
    position: relative;
    width: 215px;
    padding: 10px;
    border-radius:5px;
    background-color: #252525;
    cursor: pointer;
    transition: all ease-in-out .1s;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card .play{
    position: absolute;
    right: 15px;
    top: 60%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1fdf64;
    padding: 1.1rem;
    opacity: 0;
    transition: all .3s ease-out;
}
.card .play i{
    font-size: 1.5rem;
    color: var(--var-color-black);
}
.card:hover .play{
    opacity: 1;
    top: 50%;
}

.card:hover{
    background-color: #4747472d;
}
.button > *{
    margin: 0 12px;
    cursor: pointer;
    border: none;
}
.signupbtn{
    background-color:rgb(34, 34, 34);
    color: rgb(109, 106, 106);
    font-weight: bold;
    transition: all ease .3s;
}
.signupbtn:hover{
    font-size: 1rem;
    color: white;
}
.loginbtn{
    width: 79px;
    background-color: white;
    border-radius: 21px;
    color:#000000;
    font-weight: bold;
    padding: 10px;
    transition: all ease .1s;
}
.loginbtn:hover{
    scale: 1.1;
}
.playbar{
    position: fixed;
    bottom: 30px;
    width: 70vw;
    min-height: 60px;
    filter: invert(1);
    background-color:#e4e3e3;
    border-radius: 15px;
    padding:5px 10px;
    box-shadow: 0 0 10px #fffefe;
    /* animation: glow 2s infinite ease-in-out; */
}
@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.6);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.6);
    }
  } 
.abovebar{
    justify-content: space-between;
    color: black;
    padding: 0 12px;
}

.songbutton{
    gap: 16px;
}
.songList{
    height: 544px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 44px;
}
.active{
    box-shadow: 0 0 8px white;
}
.songbutton img{
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.songList ul{
    padding: 0 3px;
    
}
.songList ul li {
    list-style-type: decimal;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}
.songList .info {
    font-size: 15px;
    width: 344px;
}
/* .info div {
    word-break: break-all;
} */
.songList ul li img{
    filter: invert(1);
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.timevol {
    justify-content: space-evenly;
}

.songinfo{
    padding: 0 20px;
    width: 300px;
}
.songtime{
    padding: 0 20px;
    width: 150px;
}
.playnow span {
    font-size: 10px;
    width: 64px;
}
.seekbar{
    height: 5px;
    width: 98%;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 5px;
    left: 0;
    margin: 0 8px;
    cursor: pointer;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    bottom: 7px;
    left: 0;
    transition: left .5s;
    box-shadow: 0 0 5px black;
    animation: glow 2s infinite ease-in-out;
}



@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 2;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }
.playbar{
    padding: 0;
}
    .songinfo{ 
        width: 220px;
    }
    
  .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 60px); 
    }

    .seekbar {
        width: calc(100vw - 80px);
    }

    .hamburger {
        display: block;
    }


    .card {
        width: 30%;
    }


    .close {
        display: block;
    }
    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}
@media (max-width: 600px) {
    .card {
        width: 48%;
    }
.cardContainer{
    margin: 5px;
}
    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }
    .abovebar {
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-bottom:10px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }
    .songinfo,.songtime{
        width: 100%;
        text-align: center;
    }
    
}
@media(max-width:450px){
    .card{
        width: 100%;
    }
    .timevol {
        justify-content: space-between;
    }
    .songinfo{
        font-size: 20px;
    }
    .songtime {
        font-size: 17px;
    }
}

